@{
    ViewBag.Title = "About Mynyl Vynyl";
}
<h2>@ViewBag.Title.</h2>

<p> Welcome to Mynyl Vynyl, your online destination for the finest vinyl records.  If you're looking for domestic and imported reissued music CDs, vinyl records, limited edition box sets, music DVDs, and related merchandise, where the music store you've been searching for.  Additionally, we buy vinyl LPs in order to carry a selection of high-end and rare used vinyl records in our retail store.</p>
<br />
<p> Our philosophy is simple. We work direct relationships with music distributors, from the biggest in the industry to smaller organizations specializing in indie labels, reissue imports, rare or out-of-print music, limited edition box sets, compilations, and more. Because of these direct relationships, we can offer a great selection of music from legendary hit-makers and other artists you love, all at incredible prices. No matter which artists you're interested in, check our inventory first, and everybody else second. You won't be disappointed.</p>
<br />
<p> In addition to our online vinyl record store, we have a retail location in Mynyl Vynyl 3116 Locust St. Louis, MO. 63103. And remember, we back up all of our items with prompt, expert, and friendly customer service. If you're not satisfied with your purchase either online or in store, we're not satisfied, and we'll do what it takes to make it right.</p>
<br />
<p> Mynyl Vynyl is your online vinyl store and beyond. Thanks for browsing all of our vinyl records for sale, and whether it's reacquainting yourself with forgotten favorites or discovering music that's new to you, we hope we can be your music matchmaker.</p>
<br />
<p> Mynyl Vynyl - Saint Louis welcome to Mynyl Vynyl, your online destination for the finest vinyl records. If you're looking for domestic and imported reissued music CDs, vinyl records, limited edition box sets, music DVDs, and related merchandise, where the music store you've been searching for. Additionally, we buy vinyl LPs in order to carry a selection of high-end and rare used vinyl records in our retail store. 3116 Locust, St. Louis, MO 63103 Phone: 314-675-8675</p>
<br />
<iframe width="420" height="345" src="https://www.youtube.com/embed/uXPxxvACVCE?controls=0">
</iframe>
