@{
    ViewBag.Title = "Home Page";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2018/10/RSD-920x584.jpg" alt="Los Angeles">
            </div>

            <div class="item">
                <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2017/10/GettyImages-469727208-920x584.jpg" alt="Chicago">
            </div>

            <div class="item">
                <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2019/03/vinyl-records-1-920x584.jpg" alt="New York">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p>
            A record shop or record store is a retail outlet that sells recorded music. In the late 19th century and the early 20th century, record shops only sold gramophone records, but over the 20th century, record shops sold the new formats that were developed, such as eight track tapes, compact cassettes and compact discs (CDs). Today in the 21st century, record stores sell CDs, vinyl records and in some cases, DVDs of movies, TV shows, cartoons and concerts. Some record stores also sell music-related items such as posters of bands or singers and even clothing and items such as bags and coffee mugs.

            Even in the heyday of the CD during the 1990s, people in English-speaking countries still used the term "record shop" to describe a shop selling sound recordings such as CDs. Now that vinyl records have had a resurgence in the 21st century, often generating more income than CDs, the name has come full circle and is relevant once more.
    </p>